% rebase('base.html')

  <head>
    <title>Dropdown with Checkboxes</title>
    <style>
      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: hsl(0, 0%, 100%);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }
  
      .dropdown:hover .dropdown-content {
        display: block;
      }
  
      .checkbox-label {
        display: block;
        padding: 5px 10px;
      }
    </style>
  </head>


	<div class="dropdown">
		<button>Dropdown</button>
		<div class="dropdown-content">
			<input type="text" placeholder="Search...">
			<label class="checkbox-label">
				<input type="checkbox"> Option 1
			</label>
			<label class="checkbox-label">
				<input type="checkbox"> Option 2
			</label>
			<label class="checkbox-label">
				<input type="checkbox"> Option 3
			</label>
			<label class="checkbox-label">
				<input type="checkbox"> Option 4
			</label>
		</div>
	</div>


<!--<!DOCTYPE html>
<html>
  <body>
    <h1>{{ime_igralca}}</h1>
    <ol>
      %for (datum_rojstva, ekipa_dolgo, ekipa_kratko, položaj_x, položaj_y) in igralci:
      <li>{{datum_rojstva}}, {{ekipa_dolgo}}, {{ekipa_kratko}}, {{položaj_x}}, {{položaj_y}}</li>
      %end
    </ol>
  </body>
</html>-->