% rebase('base.html')

<div class="container">


  
  <form action="/lestvica" method="post">
    <label for="liga">Liga:</label>
    <select name="liga" id="liga">
      <option value="1729">England Premier League</option>
    <option value="4769">France Ligue 1</option>
    <option value="7809">Germany 1. Bundesliga</option>
    <option value="10257">Italy Serie A</option>
    <option value="21518">Spain LIGA BBVA</option>
    <option value="392 or 1">sql injection</option>
  </select>
  <label for="sezona">Sezona:</label>
  <select name="sezona" id="sezona">
      <option value="2015/2016">2015/2016</option>
  </select>
  <label for="krog">Krog:</label>
  <select name="krog" id="krog">
      <option value="38">Celotna lestvica</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
      <option value="32">32</option>
      <option value="33">33</option>
      <option value="34">34</option>
      <option value="35">35</option>
      <option value="36">36</option>
      <option value="37">37</option>
      <option value="38">38</option>
  </select>


  <button type="submit">Išči!</button>
  
  
</form>

<br><br>

<table>
  <tr>
    <td>Mesto</td>
    <td>Ekipa</td>
    <td>Odigrane tekme</td>
    <td>Zmage</td>
    <td>Remiji</td>
    <td>Porazi</td>
    <td>Dani goli</td>
    <td>Prejeti goli</td>
    <td>Gol razlika</td>
    <td>Točke</td>
  </tr>
  %for ekipa_id, Z, R, P, dani_goli, prejeti_goli in lestvica:
  <tr>
    <td>1</td>
    <td>{{ekipa_id}}</td>
    <td>{{Z + R + P}}</td>
    <td>{{Z}}</td>
    <td>{{R}}</td>
    <td>{{P}}</td>
    <td>{{dani_goli}}</td>
    <td>{{prejeti_goli}}</td>
    <td>{{dani_goli-prejeti_goli}}</td>
    <td>{{Z*3 + R}}</td>
  </tr>
  %end
</table>



</div>