<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moj projekt</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/style.css"> 
  </head>
  <body>
    <div class="container">
      {{ !base }}
    </div>
    <div>
      <p style="color:red">
        Navadno besedilo
      </p>
      <h2 style="background-color:green">
        To je pa naslov
      </h2>
      <h2 style="background-color:green">

      </h2>
      <img src="/static/slikice/slika.jfif"   
      alt="Nakljočna slika">  <!--smo v spletni_vmesnik napisali funkcijo serve_static_files in pa shranili sliko kot slika.jfif tako da sedaj dobi sliko (paziti smo morali da smo pravilno uporabili slikice pri večih stvareh)-->
    </div>
  </body>
</html>