% rebase('base.html')


    <h1>Country</h1>
    <ol>
      %for x in Country:
      <li>{{x}}</li>
      %end
    </ol>
    <h1>League</h1>
    <ol>
      %for x in League:
      <li>{{x}}</li>
      %end
    </ol>
    <h1>Match</h1>
    <ol>
      %for x in Match:
      <li>{{x}}</li>
      %end
    </ol>
    <h1>Player</h1>
    <ol>
      %for x in Player:
      <li>{{x}}</li>
      %end
    </ol>
    <h1>Player_Attributes</h1>
    <ol>
      %for x in Player_Attributes:
      <li>{{x}}</li>
      %end
    </ol>
    <h1>Team</h1>
    <ol>
      %for x in Team:
      <li>{{x}}</li>
      %end
    </ol>
    <h1>Team_Attributes</h1>
    <ol>
      %for x in Team_Attributes:
      <li>{{x}}</li>
      %end
    </ol>